<form [formGroup]='registerForm' (ngSubmit)="register()" autocomplete="off">
    <!-- <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off"> -->
    <h2 class="text-center text-primary">
        Sign up
    </h2>
    
    <!-- Here we use the $any() parser to allow the formControl and type to receive the parameters without complaining,
    the other way is disable the "templateStrict" value in tsconfig.json but not recommended -->
    <app-text-input [formControl]='$any(registerForm.controls["username"])' [label]='"Username"' ></app-text-input>
    <app-text-input [formControl]='$any(registerForm.controls["password"])' [label]='"Password"' [type]='$any("password")' ></app-text-input>
    <app-text-input [formControl]='$any(registerForm.controls["confirmPassword"])' [label]='"Confirm Password"' [type]='$any("password")' ></app-text-input>
    
    <!-- <div class="form-group">
        <label>Who is your favorite user?</label>
        <select class="form-control">
            <option *ngFor="let user of usersFromHomeComponent" [value]="user.userName">
                {{user.userName}}
            </option>
        </select>
    </div> -->
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>

    <p>IS VALID: {{registerForm.valid}}</p>
</form>